[FORMAT]
disable=
    C0301,  # Line too ling 
    R0902,  # Too many instance attributes
    R0901,  # Too many acestors
    E1101,  # Module/class/function not found
    W0718,  # Catching too general exception
    R0912,  # Too many branches
    R0915,  # Too many statements
    R0801,  # Similar lines
    too-few-public-methods