name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'  # or your required version

    - name: Install Poetry
      uses: abatilo/actions-poetry@v3

    - name: Install dependencies
      run: poetry install

    - name: Check formatting with Black
      run: poetry run black --check .

    - name: Run tests
      run: poetry run pytest
